<h1> Real Time Products </h1>
{{#if products.length}}
    {{#each products}}
        <ul>
            <li>{{title}} - ${{price}} - stock:{{stock}}</li>
        </ul>
    {{/each}}
    {{else}}
        <div id="productos">
            <p>No hay productos</p>
        </div>
{{/if}}

<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/js/realTimeProducts.js"></script>